<div class="col-md-3 col-lg-2 bg-dark text-white p-3">
    <h2 class="text-center">Todo List</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'list:task_list' %}">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'list:tag_list' %}">
                <i class="fas fa-tags"></i> Tag List
            </a>
        </li>
    </ul>
</div>
